<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
    </head>
    <body>
        <button type="submit"><a href="{% url 'home' %}">Home </a></button>
        <button type="submit">
            <a href="{% url 'profile' %}">Profile </a>
        </button>
        <button type="submit"><a href="{% url 'signup' %}">Sign up </a></button>
        <button type="submit"><a href="{% url 'login' %}">Log in </a></button>
        <button type="submit"><a href="{% url 'logout' %}">Log out </a></button>
    </body>

    <ul class="messages">
        {% for message in messages %} {{ message }} {% endfor %}
    </ul>
</html>

{% block content %} {% endblock %}
