{% extends "user\base.html" %} {% block content %}
<h2>Log in</h2>
<form method="post">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Log in</button>
</form>
<button type="submit">
    <a href="{% url 'password_reset' %}">Forgot password?</a>
</button>
{% endblock %}
