{% extends "user\base.html" %} {% block content %}
<h2>Create new password</h2>
<form method="post">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Confirm</button>
</form>
{% endblock %}
