{% extends "user\base.html" %} {% block content %}
<div>
    <img src="{{user.profile.image.url}}" />
    <h2>Your Profile</h2>
</div>
<div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %} {{ profile_form.as_p }} {{ user_form.as_p }}
        <button type="submit">Update</button>
    </form>
    <button type="submit">
        <a href="{% url 'password_reset' %}">Reset your password</a>
    </button>
</div>
{% endblock %}
